/* ---------- ROOT PROPERTIES ---------- */
:root {
    /* ---------- color */
    --bg-white: hsla(0, 0%, 100%, 1);
    --bg-gainsboro: hsla(154, 10%, 86%, 1);
    --bg-wild-blue-yonder: hsla(227, 39%, 75%, 1);
    --bg-orange-crayola: hsla(18, 97%, 62%, 1);
    --bg-roman-silver-alpha-30: hsla(210, 9%, 57%, 0.3);

    --text-orange-crayola: hsla(18, 97%, 62%, 1);
    --text-blue-crayola: hsla(216, 98%, 52%, 1);
    --text-eerie-black: hsla(210, 11%, 15%, 1);
    --text-eerie-black-2: hsla(0, 0%, 7%, 1);
    --text-black: hsla(270, 100%, 0%, 1);

    --border-eerie-black: hsla(0, 0%, 7%, 1);

    /* ---------- font */
    --fontFamily-inter: "Inter", sans-serif;
    --fontFamily-clashDisplay: "ClashDisplay", cursive;

    --fontSize-1: 6.2rem;
    --fontSize-2: 4.4rem;
    --fontSize-3: 3.8rem;
    --fontSize-4: 3.4rem;
    --fontSize-5: 3rem;
    --fontSize-6: 2.5rem;
    --fontSize-7: 2rem;
    --fontSize-8: 1.8rem;
    --fontSize-9: 1.4rem;
    --fontSize-10: 2.4rem;

    --weight-semiBold: 600;

    /* ---------- shadow */
    --shadow-1: 0 4px 6px hsla(256, 100%, 9%, 0.1);
    --shadow-2: 4px 4px 0px hsla(0, 0%, 7%, 1);
    --shadow-3: 2px 2px 0px hsla(0, 0%, 7%, 1);

    /* ---------- transition */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
}

/* ---------- CSS RESET ---------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: var(--fontFamily-inter);
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-eerie-black-2);
    background-color: var(--bg-white);
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    font: inherit;
    border: none;
    background: none;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

ion-icon {
    pointer-events: none;
}

/* ---------- REUSED STYLE ---------- */
.container {
    padding-inline: 16px;
}

.shape {
    display: none;
    position: absolute;
}

.title {
    font-family: var(--fontFamily-clashDisplay);
    font-weight: var(--weight-semiBold);
    line-height: 1.2;
}

.h1 {
    font-size: var(--fontSize-2);
}

.h2 {
    font-size: var(--fontSize-3);
}

.h3 {
    font-size: var(--fontSize-5);
}

.h4 {
    font-size: var(--fontSize-6);
}

.btn {
    max-width: max-content;
    min-width: max-content;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-weight: var(--weight-semiBold);
    box-shadow: var(--shadow-2);
    background-color: var(--bg-white);
    border: 2px solid var(--border-eerie-black);
    transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) {
    box-shadow: none;
}

.btn-primary,
.btn-secondary {
    gap: 5px;
    text-transform: uppercase;
}

:is(.btn-primary, .btn-secondary) ion-icon {
    font-size: 2rem;
    transform: rotate(-45deg);
}

.btn-primary:is(:hover, :focus-visible) {
    color: var(--bg-orange-crayola);
}

.btn-secondary {
    background-color: var(--bg-orange-crayola);
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--bg-gainsboro);
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    padding-block: 75px;
}

.text-center {
    text-align: center;
}

.section-title {
    margin-bottom: 45px;
}

.product-btn {
    font-size: var(--fontSize-9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 8px;
    opacity: 0;
}

.product-btn ion-icon {
    font-size: 1.4rem;
}

.product-card:is(:hover, :focus-within) .product-btn {
    opacity: 1;
}

.product-card .card-banner {
    position: relative;
}

.product-card .card-content {
    margin-top: 30px;
}

.product-card .card-title:is(:hover, :focus-visible) {
    text-decoration: underline;
}

.product-card .price {
    color: var(--text-orange-crayola);
    font-family: var(--fontFamily-clashDisplay);
    font-size: var(--fontSize-7);
    font-weight: var(--weight-semiBold);
    margin-top: 10px;
}

.has-scrollbar {
    display: flex;
    align-items: center;
    gap: 40px;
    scroll-snap-type: initial mandatory;
    overflow-x: auto;
}

.has-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
}

.big-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------- HEADER ---------- */
.navbar .btn {
    display: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-block: 25px;
    z-index: 4;
}

.header.active {
    box-shadow: var(--shadow-1);
    background-color: var(--bg-white);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-open-btn {
    font-size: 3.5rem;
}

.navbar {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    background-color: var(--bg-white);
    transition: var(--transition-2);
}

.navbar.active {
    max-height: 310px;
    visibility: visible;
}

.navbar-list {
    padding-block-start: 15px;
}

.navbar-link {
    padding: 10px 20px;
}

.navbar-link,
.card-btn .span {
    text-transform: uppercase;
    font-weight: var(--weight-semiBold);
}

.card-btn {
    padding: 25px 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* ---------- HERO ---------- */

.hero {
    background-color: var(--bg-wild-blue-yonder);
    padding-block: 130px 75px;
}

.hero .container {
    display: grid;
    gap: 50px;
}

.hero-subtitle {
    font-size: var(--fontSize-4);
}

.hero-title {
    margin-block: 16px 30px;
}

.hero-text {
    font-size: var(--fontSize-8);
    line-height: 2.1;
    margin-bottom: 16px;
}

.hero-banner {
    max-width: max-content;
    margin-inline: auto;
}

/* ---------- FEATURE ---------- */
.section.feature {
    padding-top: 0;
}

.feature-list {
    margin-bottom: 60px;
    display: grid;
    gap: 60px;
}

.feature .btn {
    margin-inline: auto;
}

/* ---------- OFFER ---------- */
.offer {
    padding-block: 100px;
}

.offer-card {
    padding: 80px 30px;
    box-shadow: var(--shadow-2);
    background-color: var(--bg-white);
    border: 2px solid var(--border-eerie-black);
}

.offer-card .card-title {
    font-size: var(--fontSize-1);
}

.offer-card .card-text {
    font-size: var(--fontSize-8);
    line-height: 1.8;
    padding-block: 20px 45px;
}

/* ---------- FOOTER ---------- */
.footer {
    position: relative;
    padding-block-start: 160px;
    background-color: var(--bg-gainsboro);
}

.footer-top {
    margin-block-end: 60px;
    font-size: var(--fontSize-8);
    line-height: 1.7;
    display: grid;
    gap: 30px;
}

.footer .logo {
    margin-block-end: 35px;
}

.social-list {
    display: flex;
    gap: 10px;
    margin-block-start: 30px;
}

.social-link {
    width: 52px;
    height: 52px;
    display: grid;
    place-items: center;
    border: 2px solid var(--border-eerie-black);
    border-radius: 50%;
    box-shadow: var(--shadow-3);
    background-color: var(--bg-white);
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
    box-shadow: none;
    color: var(--text-orange-crayola);
    transform: translateY(-2px);
    border-color: currentColor;
}

.footer-list-title {
    margin-block-end: 30px;
    font-size: var(--fontSize-10);
}

.footer-text {
    margin-block-end: 15px;
}

.input-field {
    padding: 15px 30px;
    margin-block-end: 25px;
    border: 2px solid var(--border-eerie-black);
    box-shadow: var(--shadow-2);
    background-color: var(--bg-white);
    transition: var(--transition-1);
    outline: none;
}

.input-field:is(:focus) {
    box-shadow: none;
}

.footer .btn {
    font-size: 1.6rem;
    padding-inline: 40px;
}

.footer-bottom .wrapper {
    border-bottom: 2px solid var(--border-eerie-black);
    padding-block-end: 2px;
}

.link-wrapper {
    margin-block-end: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 30px;
}

.footer-bottom-link {
    font-weight: var(--weight-semiBold);
    text-transform: uppercase;
    transition: var(--transition-1);
}

.footer-bottom-link:is(:hover, :focus-visible) {
    color: var(--text-orange-crayola);
}

.copyright {
    padding-block: 30px;
    font-size: var(--fontSize-8);
    text-align: center;
}

.footer .shape-1 {
    display: block;
    top: 0;
    right: 0;
}

/* ---------- MEDIA QUERIES ---------- */
